{erl_opts, [debug_info]}.
{deps, [
        {sync, ".*", {git, "git://github.com/rustyio/sync.git", {branch, "master"}}},
        {qdate, ".*", {git, "https://github.com/choptastic/qdate.git", {branch, "master"}}},
        {datum, "*", {git, "https://github.com/fogfish/datum.git", {branch, "master"}}},
        {worker_ppol, "*", {git, "https://github.com/inaka/worker_pool.git", {branch, "master"}}}
       ]}.

{relx, [{release, {erl_ignite, "0.1.0"},
         [
          qdate,
          datum,
          worker_ppol
         ]}
       ]
}.

{shell, [
    {config, "config/sys.config"},
    {apps, [erl_ignite]}
]}.
