{erl_opts, [debug_info]}.
{deps, [
        {sync, ".*", {git, "git://github.com/rustyio/sync.git", {branch, "master"}}},
        {qdate, ".*", {git, "https://github.com/choptastic/qdate.git", {branch, "master"}}},
        {datum, "*", {git, "https://github.com/fogfish/datum.git", {branch, "master"}}}
       ]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [erl_ignite]}
]}.
