[{kernel,
  [{logger,
    [{handler, default, logger_std_h,
      #{config => #{file => "/home/firest/test/ignite.log"}}}]}]},

  {erl_ignite, [{connect, {"127.0.0.1", 10800, {1, 2, 0}, "ignite", "ignite"}},
                {schema, "/home/firest/test/schema"},
                {pool, [{workers, 30},
                        {strategy, {one_for_one, 6, 3600}}]}]}
].
